@keyframes backdrop-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes backdrop-hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes dialog-show {
    from {
        scale: .9;
        opacity: 0;
    }
    to {
        scale: 1;
        opacity: 1;
    }
}

@keyframes dialog-hide {
    from {
        scale: 1;
        opacity: 1;
    }
    to {
        scale: .9;
        opacity: 0;
    }
}

@keyframes imanim {
    10% {
        scale: .8;
    }
    50% {
        scale: 1;
    }
    90% {
        scale: .8;
    }
}
