@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --border-radius: .4rem;
    --bg-color: var(--tg-theme-bg-color);
    --secondary-bg-color: var(--tg-theme-secondary-bg-color);
    --text-color: var(--tg-theme-text-color);
    --hint-color: var(--tg-theme-hint-color);
    --link-color: var(--tg-theme-link-color);
    --button-color: var(--tg-theme-button-color);
    --button-text-color: var(--tg-theme-button-text-color);
    --accent-text-color: var(--tg-theme-accent-text-color);
    --section-bg-color: var(--tg-theme-section-bg-color);
    --destructive-text-color: var(--tg-theme-destructive-text-color);
}

@media screen and (width >=500px) {
    :root {
        --section-border-radius: 1rem;
    }

    section:first-child {
        margin-top: 1rem;
    }
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    font-size: 16px;
    user-select: none;
    font-family: "Roboto";
    -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

*::backdrop {
    background: rgba(0, 0, 0, 60%);
    animation: backdrop-show .1s linear forwards;
}

*::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-gutter: stable;
}

body {
    background: var(--secondary-bg-color);
}

main {
    max-width: 500px;
    margin-inline: auto;
}

.diplom-container {
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    padding-block: 1rem;
    scroll-snap-type: x mandatory;
}

.diplom-container div.diplom {
    position: relative;
    width: 250px;
    height: 350px;
    flex-shrink: 0;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    animation: imanim linear;
    animation-timeline: view(x);
    scale: .8;
    overflow: hidden;
    border-radius: var(--border-radius);
}

.diplom-container div.diplom img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    scroll-snap-type: x mandatory;
}

.diplom-container div.diplom:first-child {
    margin-left: 5rem;
}

.diplom-container div.diplom:last-child {
    margin-right: 5rem;
}

@media (width >=400px) {
    .diplom-container div.diplom:first-child {
        margin-left: 10rem;
    }

    .diplom-container div.diplom:last-child {
        margin-right: 10rem;
    }
}

.diplom-container div.diplom div.name,
.diplom-container div.diplom div.institution,
.diplom-container div.diplom div.locality {
    position: absolute;
    width: 100%;
    font-size: 1rem;
    text-align: center;
}

.diplom-container div.diplom div.name {
    top: 10%;
}

.diplom-container div.diplom div.institution {
    top: 20%;
}

.diplom-container div.diplom div.locality {
    top: 30%;
}

button {
    cursor: pointer;
}

.hint {
    color: var(--hint-color);
}

section {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    border-radius: var(--section-border-radius);
    background: var(--section-bg-color);
}

section input[type="text"] {
    width: 100%;
    border: none;
    padding: 1rem 1.5rem;
    background: transparent;
    color: var(--text-color);
    border-color: var(--hint-color);
    transition: box-shadow .3s;
}

section .header {
    font-size: 14px;
    font-weight: 500;
    margin: 1rem 0 .2rem 1.5rem;
    color: var(--accent-text-color);
}

label {
    color: var(--text-color);
}

dialog[open] {
    animation: dialog-show .1s linear;
}

dialog.close-modal {
    animation: dialog-hide .1s linear forwards;
}

dialog.close-modal::backdrop {
    animation: backdrop-hide .1s linear forwards;
}

dialog {
    margin: auto;
    border: none;
    border-radius: var(--modal-border-radius);
    overflow: hidden;
    color: var(--text-color);
    background: var(--section-bg-color);
}

dialog div.content {
    position: relative;
    overflow-y: scroll;
    width: clamp(300px, 90vw, 400px);
    max-height: clamp(200px, 60vh, 400px);
    padding: 1.5rem 1.5rem 4rem 1.5rem;
}

dialog div.content div.header {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

dialog button {
    position: absolute;
    font-size: 18px;
    right: .5rem;
    bottom: .5rem;
    border: none;
    border-radius: .5rem;
    padding: .4rem .8rem;
    color: var(--accent-text-color);
    background: transparent;
    transition: .2s;

}

@media (hover: hover) {
    dialog button:hover {
        background-color: color-mix(in srgb, var(--accent-text-color) 15%, transparent);
    }
}

dialog button:active {
    background-color: color-mix(in srgb, var(--accent-text-color) 25%, transparent);
}

dialog .input-group:not(:last-child) {
    margin-bottom: 1.5rem;
}

.button-group button {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border: none;
    background: transparent;
    transition: .1s;
}

@media (hover: hover) {
    .button-group button:hover {
        background-color: color-mix(in srgb, var(--hint-color) 15%, transparent);
    }
}

.button-group button:active {
    background-color: color-mix(in srgb, var(--hint-color) 25%, transparent);
}

.button-group button span {
    color: var(--text-color);
}

.button-group button span:last-child {
    color: var(--accent-text-color);
}

.radio {
    display: block;
    cursor: pointer;
    position: relative;
    padding-left: 3rem;
    line-height: 1.5rem;
    transition: .1s linear;
}

.radio>input {
    display: none;
}

.radio>.round::before,
.radio>.round::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    aspect-ratio: 1/1;
    translate: 0 -50%;
    border-radius: 50%;
    background-color: transparent;
    transition: .1s ease;
}

.radio>.round::before {
    width: 1.25rem;
    left: .0625rem;
    border: 2px solid var(--hint-color);
}

.radio>.round::after {
    opacity: 0;
    left: .375rem;
    width: 0.625rem;
    border: 2px solid var(--accent-text-color);
}

.radio>input:checked+.round::before {
    border-color: var(--accent-text-color);
}

.radio>input:checked+.round::after {
    opacity: 1;
    background-color: var(--accent-text-color);
}

.label-group:not(:last-child) {
    margin-bottom: 1rem;
}
