:root {
    --bg-color: white;
    --secondary-bg-color: gray;
    --text-color: black;
    --hint-color: gray;
    --link-color: blue;
    --button-color: blue;
    --button-text-color: lightblue;
    --section-bg-color: white;
    --section-separator-color: gray;
    --destructive-text-color: red;
}

[data-theme="light"],
[data-theme="dark"] {
    --bg-color: var(--tg-theme-bg-color);
    --secondary-bg-color: var(--tg-theme-secondary-bg-color);
    --text-color: var(--tg-theme-text-color);
    --hint-color: var(--tg-theme-hint-color);
    --link-color: var(--tg-theme-link-color);
    --button-color: var(--tg-theme-button-color);
    --button-text-color: var(--tg-theme-button-text-color);
    --section-bg-color: var(--tg-theme-section-bg-color);
    --section-separator-color: var(--tg-theme-section-separator-color);
    --destructive-text-color: var(--tg-theme-destructive-text-color);
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    outline: none;
    user-select: none;
}

body {
    text-align:center;
    background: var(--secondary-bg-color);
}

.diplom-preview {
    width: 100%;
    overflow: hidden;
    background: var(--bg-color);
}

.diplom-preview .img-container {
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.diplom-preview .img-container img {
    width: 200px;
    height: 250px;
}

.btn {
    border: none;
    border-radius: 1rem;
    padding: .4rem .8rem;
    color: var(--button-text-color);
    background: var(--button-color);
    border: 1px solid;
}

a {
    color: var(--link-color);
}

hr {
    border-color: var(--section-separator-color1);
    margin-block: 1rem;
}

.hint {
    color: var(--hint-color);
}

.destructive-text-color {
    color: var(--destructive-text-color);
}

section {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
    background: var(--section-bg-color);
}

section input {
    border: 1px solid;
    border-radius: 1rem;
    padding: .4rem .8rem;
    margin-bottom: 1rem;
}
