:root {
    --bg-color: var(--tg-theme-bg-color);
    --secondary-bg-color: var(--tg-theme-secondary-bg-color);
    --text-color: var(--tg-theme-text-color);
    --hint-color: var(--tg-theme-hint-color);
    --link-color: var(--tg-theme-link-color);
    --button-color: var(--tg-theme-button-color);
    --button-text-color: var(--tg-theme-button-text-color);
    --section-bg-color: var(--tg-theme-section-bg-color);
    --destructive-text-color: var(--tg-theme-destructive-text-color);
}

* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    outline: none;
    user-select: none;
}

body {
    text-align:center;
    background: var(--secondary-bg-color);
}

h1, .user-score {
    text-align: center;
    color: var(--text-color);
}

.btn {
    border: none;
    border-radius: 1rem;
    color: var(--button-text-color);
    background: var(--button-color);
}

.user-score {
    font-size: 1rem;
}

.user-tap-button {
    margin-inline: auto;
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 100px;
    background: url('TON.png');
    background-size: 100% 100%;
}

a {
    color: var(--link-color);
}

.hint {
    color: var(--hint-color);
}

.destructive-text-color {
    color: var(--destructive-text-color);
}

section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    background: var(--section-bg-color);
}

section input {
    border: 1px solid;
    border-radius: 1rem;
}

section input:not(:last-child) {
    margin-bottom: 1rem;
}
